#about-me {
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.general {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 16vh;
  margin-left: 22%;
  margin-right: 11%;
  height: auto;
}

.general h2 {
  padding: 1%;
  margin: 5px;
}

.about-header {
  flex-direction: column;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1%;
  margin-top: 6vh;
  margin-left: 22%;
  margin-right: 11%;
  align-items: center;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pic {
  position: absolute;
  left: -52px;
  height: 600px;
  width: 500px;
}

.about-header h2{
    margin: 5px;
    font-weight: 700;
    font-size: 25px;
}

.about-header p {
  font-weight: 500;
  font-size: 18px;
}

.about-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 1%;

}

.bio {
  margin-bottom: 2%;
}

.hobbies-heading {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.hobbies {
  margin-bottom: 2%;
}

.coding-heading {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.coding {
  margin-bottom: 2%;
}

.fun {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-right: 11%;
  margin-left: 22%;
  margin-top: 6vh;
  padding: 1%;
  flex-direction: row;
}

.fun-fact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 2%;
  font-weight: 700;
}

.fun h3 {
  font-size: 1.2rem;
}

#book-icon {
  padding-right: 1%;
  padding-left: 1%;
}

#globe-icon {
  margin-top: 2%;
  padding-right: 1%;
  padding-left: 1%;
}

#cup-icon {
  margin-top: 2%;
  padding-right: 1%;
  padding-left: 1%;
}

#music-icon {
  margin-top: 2%;
  padding-right: 1%;
}

#testimonial-section {
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-right: 11%;
  margin-left: 22%;
  text-align: center;
  padding: 2%;
  min-height: 183px;
}

.testimonial h2, .testimonial h3{
  font-weight: 700;
}

.testimonial p {
  font-size: 18px;
}

.testimonial img {
  border-radius: 50%;
  width: 80px;
  margin-top: 2%;
}

@media screen and (max-width: 1496px) {
  #about-me {
    height: 500vh;
  }
}
