#contact-sec {
  height: auto;
}

.contact-container {
  display: grid;
  place-items: center;
}

.contact-top {
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.num {
    padding-bottom: 10%;
}

.num a, .mail a {
  color: rgb(90, 90, 90);
}

.num a:hover, .mail a:hover {
  text-decoration: none;
  color: white;
}


.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.65);
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.contact-form ::placeholder {
  color: rgb(90, 90, 90);
  font-size: 15px;
}

.contact-header {
  display: grid;
  place-items: center;
  margin: 20px;
  color: rgb(90, 90, 90);
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 2%;
    font-weight: 700;
}

label {
  display: none;
}

.contact-input {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 5% 10%;
  border: none;
  outline: none;
  text-align: center;
}

.contact-button {
  transition-duration: 0.4s;
}

.contact-button:hover {
  background-color: grey;
  color: white;
  border: none;
}

.footer {
  width: 100%;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-inner {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.footer-name {
  font-size: 33px;
  color: #a1d286;
  width: 100%;
  font-weight: bold;
  padding-left: 3%;
  place-items: center;
}

.footer-inner .footer-icons a {
  font-size: 18px;
  color: #a1d286;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
  margin: 5px;
  flex-direction: row;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  float: right;
}

.link {
  margin-right: 2%;
}

.ghub {
  margin-right: 2%;
}


@media screen (max-width: 600px) {
  .footer .footer-inner {
    width: 90%;
  }
  .footer-inner .logo-container,
  .footer-inner .footer-icons,
  .footer-inner .based {
    width: 100%;
    margin-bottom: 30px;
  }
}
